body {
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: "Black Ops One"
}

/* Menu de navegacion */
.form {
    margin-top: 40px;
    text-align: center;

}

.menu {
    background-color: rgb(3, 5, 5);
    list-style: none;
    padding: 0%;
    width: 100%;
}

.menu li a {
    display: flex;
    text-decoration: none;
    color: rgb(255, 17, 0);
    padding: 30px;
    padding-right: 70px;

}

.menu li {
    display: inline-block;
    padding: 10px;
    margin-right: 40px;
    margin-inline-start: 10px;

}

nav {
    display: flex;
    justify-content: space-around;
    box-shadow: 20px 20px 40px 50px;

    color: rgb(255, 8, 0);
    width: 100%;
    padding: 12px 10px 12px 10px;
    font-family: "Creepster"

}

.subra {
    border-bottom: solid 8px rgb(196, 64, 64);
    color: rgb(0, 0, 0);
    box-shadow: 10px 10px 40px 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Black Ops One";
    text-align: center;
    text-decoration: underline
}


/* Seccion de articulos/menu */
main {
    display: flex;
    justify-content: center;
    background-color: rgb(90, 4, 4);
}

h2 {
    font-family: "DM Serif Display";
    color: rgb(231, 5, 5);
    padding: 20px;
    text-decoration: underline;
}
/* Menu de mas recomendaciones */
.otromas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto ;
    color: rgb(233, 54, 54);
    list-style-type: unset ;
    justify-items:center
}


.colores2 {
    font-family: "Indie Flower";
    color: rgb(219, 35, 35);
}

.colores3 {
    color: rgb(245, 90, 1);
    text-shadow: 100px;
    
}

body section ul h2{
    color: rgb(228, 53, 41);
}
/* Footer/pie de pagina */
.menu2 {
    display: flex;
    justify-content: space-around;
    box-shadow: 20px 2px 50px 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(252, 0, 0);
    width: 100%;
    padding: 17px 0 17px 0;
    list-style-type: decimal-leading-zero;

}

div ul li {
    list-style-type: none
}

/* Configuracion del carrousel */
.contenedor{
    display: flex;    
    width: 50%; 
    justify-content: center;
    margin-left: 300px;
}
