h1 {
    color: brown;
    text-align: center;
    font-family: "Frijole";
    text-decoration:overline;
    text-shadow: 10px 20px 10px;

}

.stylee {
    font-style: oblique;
    list-style-type: none;
    text-align: center;
    padding-top: 50px;
    color: rgb(212, 135, 135);
    margin-left: 400px;
    font-family: "Nosifer"
    
}
.colorlista{
    color: rgb(248, 8, 8);
}

h3 {
    text-align: center;
    padding-top: 50px;
}

body {
    background-image: url(https://img.freepik.com/fotos-premium/bicicleta-neumaticos-neon-fondo-oscuro_444361-97.jpg);
    background-size: cover;
}